:root {
  --input-padding-sm: 8px 12px;
  --input-padding-md: 10px 15px;
  --input-padding-lg: 12px 18px;

  --icon-dimension-sm: 40px;
  --icon-dimension-md: 44px;
  --icon-dimension-lg: 48px;
}

/* form-group */
.nt-form-group:not(:last-child) {
  margin-bottom: 1rem;
}

/* nt-input-wrapper */
.nt-input-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}
.nt-input-wrapper .nt-input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--icon-dimension-md);
  padding: 12px;
  background-color: var(--border);
  border: 1px solid var(--border);
  border-radius: var(--theme-radius);
}
.nt-input-wrapper .nt-input-icon svg {
  width: 1rem;
  height: 1rem;
  color: var(--color-foreground);
}
.nt-input-wrapper .nt-input-icon:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nt-input-wrapper .nt-input-icon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* -> Input Icon Sizes */
.nt-input-size-sm .nt-input-icon {
  height: var(--icon-dimension-sm) !important;
}
.nt-input-size-lg .nt-input-icon {
  height: var(--icon-dimension-lg) !important;
}
.nt-input-size-lg .nt-input-icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* nt-float-icon */
.nt-float-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--icon-dimension-md);
  padding: 12px;
}
.nt-float-icon svg {
  width: 1rem;
  height: 1rem;
  color: var(--color-foreground);
}

/* Inputs */
.nt-input {
  display: block;
  width: 100%;
  padding: var(--input-padding-md);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  color: var(--color-foreground);
  background-color: var(--input);
  border: 1px solid var(--border);
  border-radius: var(--theme-radius);
  outline: 2px solid transparent;
  line-height: 22px;
  outline-offset: 2px;
  transition: all 0.15s var(--transition-function-1, ease-out);
}
.nt-input:focus {
  outline-color: color-mix(in srgb, var(--ring), transparent 80%);
  border-color: var(--ring);
}
.nt-input::placeholder {
  color: var(--ring);
}
input::-webkit-autofill {
  background-color: #000 !important;
}
/* -> Input Sizes */
.nt-input-size-sm .nt-input {
  padding: var(--input-padding-sm);
  font-size: var(--text-sm);
}
.nt-input-size-lg .nt-input {
  padding: var(--input-padding-lg);
  font-size: var(--text-base);
}
/* -> input if has icons */
.nt-input-wrapper .nt-input:has(+ .nt-input-icon) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nt-input-wrapper:has(.nt-input-icon:first-child) .nt-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* -> input if has float icons */
.nt-input-wrapper:has(.nt-float-icon:first-child) .nt-input {
  padding-left: 37px !important;
}
.nt-input-size-lg .nt-input-wrapper:has(.nt-float-icon:first-child) .nt-input {
  padding-left: 40px !important;
}

/* Label */
.nt-label {
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  color: var(--foreground);
  margin-bottom: 0.5rem;
}
/* -> Label sizes */
.nt-input-size-lg .nt-label {
  font-size: var(--text-base);
}

/* nt-input-description */
.nt-input-description {
  font-size: var(--text-xs);
  color: var(--muted-foreground);
  margin-top: 0.5rem;
  line-height: 1.5;
  word-break: break-word;
}

/* nt-checkbox */
.nt-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  color: var(--color-neutral-300);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.nt-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.nt-checkbox .checkmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: var(--input);
  border: 1px solid var(--border); /* gray-300 */
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.nt-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--foreground); /* blue-600 */
  border-color: var(--foreground);
}
.nt-checkbox .checkmark::after {
  position: absolute;
  content: "✓";
  display: none;
  color: var(--background);
  font-weight: var(--font-bold);
  
}
.nt-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}
/* -> nt-checkbox sizes */
.nt-input-size-lg .nt-checkbox {
  font-size: var(--text-base);
}
.nt-input-size-lg .nt-checkbox .checkmark {
  width: 18px;
  height: 18px;
}
